<footer class="bg-body-tertiary">
    <div class="w-90 mx-auto py-5">
        <h3>Get The FreshCart app</h3>
        <p class="text-secondary">We will send you a link, open it on your phone to download the app.</p>
        <div class="px-3 border-bottom py-4 mx-2">
            <form>
                <div class="d-flex justify-content-between align-items-center flex-wrap gap-r-1">
                    <input type="email" class="form-control w-85 w-r-100" placeholder="Email">
                    <button class="btn bg-main px-4 text-light w-r-100">Share App Link</button>
                </div>
            </form>
        </div>
        <div class="px-3 border-bottom py-4 mx-2 d-flex align-items-center justify-content-between">
            <div class="d-flex justify-content-start align-items-center gap-3 flex-wrap">
                <p class="p-0 m-0 fw-bold">Payment Partners :</p>
                <img src="./assets/images/PayPal-Logo.png" alt="" class="w-5">
                <img src="./assets/images/american-express.png" alt="" class="w-5">
                <img src="./assets/images/amazon-pay.png" alt="" class="w-5">
                <img src="./assets/images/mastercard_logo.svg__3.png" alt="" class="w-5">
            </div>
            <div class="d-flex justify-content-end align-items-center gap-3 flex-wrap">
                <p class="p-0 m-0 fw-bold">Get deliveries with FreshCart :</p>
                <img src="./assets/images/R.png" alt="" class="w-13">
                <img src="./assets/images/get-it-on-google-play-badge-png-get-it-on-google-play-646.png" alt="" class="w-13">
            </div> 
        </div>
    </div>
</footer>