<div class="main w-75 mx-auto d-flex justify-content-center align-items-center flex-column">
    <h1 class="my-3">Checkout Session</h1>
    <div class="alert alert-success w-100" *ngIf="successMsg">
        <h1 class="text-capitalize">success</h1>
        <p class="text-capitalize">please wait while you redirect to credit details page</p>
    </div>
    <form [formGroup]="cashOrderForm" (ngSubmit)="cashOrder(cashOrderForm)" class="w-100">
        <div class="mb-3">
            <label>Details</label>
            <input type="text" class="form-control" formControlName="details">
        </div>
        <div class="mb-3">
            <label>Phone</label>
            <input type="text" class="form-control" formControlName="phone">
        </div>
        <div class="mb-3">
            <label>City</label>
            <input type="text" class="form-control" formControlName="city">
        </div>
        <div class="text-center">
            <button class="btn text-light bg-main" type="submit">Create Cash Order !</button>
        </div>
    </form>
</div>