<h1 class="text-center text-main my-3">All Categories</h1>
<div class="row g-3 my-3">
    <div class="col-lg-3" *ngFor="let cat of categories">
        <div class="rounded-3 box" (click)="showCat(cat._id)">
            
            <div class="inner position-relative rounded-3 overflow-hidden cursor-pointer">
                <div class="photo rounded-3">
                    <img [src]="cat.image" [alt]="cat.name" class="w-100 rounded-3 object-fit-cover h-400">
                </div>
                <div class="layer position-absolute rounded-3">
                    <h3 class="fw-bolder text-light">{{cat.name}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="_Products">
    <h2 class="border-top text-main text-center w-75 mx-auto my-5 py-3">Category Products</h2>
    <h3 class="text-center" *ngIf="_Products.length == 0">There is No Product For This Category</h3>
    <div class="row g-2 py-5" *ngIf="_Products.length > 0">
        <div class="col-md-4 col-lg-2 overflow-hidden" *ngFor="let item of _Products">
            <div class="innerBox rounded-2 border cursor-pointer overflow-hidden m-2">
                <div [routerLink]="['/details',item._id]">
                    <div class="img">
                        <img [src]="item.imageCover" alt="product" class="w-100 rounded-top-2">
                    </div>
                    <div class="px-2">
                        <h1 class="fs-6 mb-3 text-main mt-3">{{item.category.name}}</h1>
                        <p class="fw-bold">{{item.category.name}}</p>
                        <div class="d-flex justify-content-between align-content-center">
                            <p>{{item.price}} EGP</p>
                            <div>
                                <i class="fa-solid fa-star rating-color me-2"></i>
                                <span class="fw-bold">{{item.ratingsAverage}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-2 d-flex justify-content-between align-items-center position-relative px-2">
                    <button class="btn bg-main text-light px-4 position-relative addBtn" (click)="addItem(item._id)">Add <i
                            class="fa-solid fa-plus ms-2"></i></button>
                    <i class="fa-solid fa-heart fa-2xl fav cursor-pointer" [ngClass]="{'text-danger': wishListData.includes(item._id)}" (click)="wish(item.id,$event)" ></i>
                </div>
            </div>
        </div>
    </div>
</div>