<div class="row mt-3 g-0">
    <div class="col-lg-9">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide ><img height="366" src="./assets/images/productTest1.jpeg" alt="" class="oF-r-contain"></ng-template>
           
            <ng-template carouselSlide ><img height="366" src="./assets/images/grocery-banner-2.jpeg" alt="" class="oF-r-contain"></ng-template>
        </owl-carousel-o>
    </div>
    <div class="col-lg-3 ">
        <div><img src="./assets/images/productTest1.jpeg" alt="" class="w-100 mh cover"></div>
        <div><img src="./assets/images/slider-image-1.jpeg" alt="" class="w-100 mh cover"></div>
    </div>
</div>
<div class="my-3">
    <h3>Shop Popular Categories</h3>
    <owl-carousel-o [options]="categoryOptions">
        <ng-container *ngFor="let slide of Categories">
            <ng-template carouselSlide [id]="slide._id">
                <div>
                    <img [src]="slide.image" [alt]="slide.name" [title]="slide.slug" class="mh-2 object-fit-cover oF-r-contain">
                    <h4 class="fw-bold text-center">{{slide.name}}</h4>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>
<div class="w-75 mx-auto">
    <input type="text" placeholder="search" class="w-75 mx-auto form-control" [(ngModel)]="searchData">
</div>
<div class="row g-2 py-5">
    <div class="col-md-6 col-lg-3 overflow-hidden" *ngFor="let item of _Products | searching:searchData">
        <div class="innerBox rounded-2 border cursor-pointer overflow-hidden m-2">
            <div [routerLink]="['/details',item._id]">
                <div class="img">
                    <img [src]="item.imageCover" alt="product" class="w-100 rounded-top-2">
                </div>
                <div class="px-2">
                    <h1 class="fs-6 mb-3 text-main mt-3">{{item.category.name}}</h1>
                    <p class="fw-bold">{{item.title.split(" ").length > 3 ? item.title.split(" ",3).join(" ") + "....." :
                        item.title.split(" ",3).join(" ")}}</p>
                    <div class="d-flex justify-content-between align-content-center">
                        <p>{{item.price}} EGP</p>
                        <div>
                            <i class="fa-solid fa-star rating-color me-2"></i>
                            <span class="fw-bold">{{item.ratingsAverage}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-2 d-flex justify-content-between align-items-center position-relative px-2">
                <button class="btn bg-main text-light  position-relative addBtn" (click)="addItem(item._id)"><i
                        class="fa-solid fa-plus ms-2"></i></button>
                <i class=" fa-regular fa-heart fa-2xl fav cursor-pointer" [ngClass]="{'text-danger': wishListData.includes(item._id)}" (click)="wish(item.id,$event)" ></i>
            </div>
        </div>
    </div>
</div>